.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    ;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    background-color: #141E26;
    margin-right: 2vw;
}

.sidebar {
    grid-area: sidebar;
    background-color: #141E26;
    display: flex;
    flex-direction: column;
}