body {
    background-color: #bdc0c3;
}
/* background-color: #11191f; */
.lightblue {
    color: #1095C1;
}

.white {
    color: #BBC6CE;
}

.orange {
    color: #F44E01;
}

p {
    color: #BBC6CE;
}
