/* lightblue = color: #1095C1; white = color: #BBC6CE; orange = color: #F44E01; */
body {
    background-color: #11191f;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

p, li, h1, h2, h3, h4, h5, summary {
    color: #BBC6CE;
}

a {
    color: #1095C1;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list li:nth-child(odd) {
    background-color: #19232B
}