.main {
    background-color: #141E26;
}

.main_navbar, .second_navbar {
    margin: 0;
    padding: 0;
}

.horizontal {
    display: flex;
    width: 100%;
    padding-right: 0;
    margin-right: 0;
}

.week_schedule {
    background-color: #11191F;
}