/* EVERYTHING IN THE ARTICLE PAGE GOES INSIDE THIS ELEMENT -> #articlePage */
#articlePage {
    /* holds the 3 main containers for the article page from left: notes-input, article-view and suggested/related-navigation-bar */
    background: var(--color_background);
    margin-block-start: 1rem;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* NOTES */
#articlePageLeftBox {
    background: var(--color_foreground);
    padding: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
}

/* ARTICLE */
#articlePageMiddleBox {
    background: var(--color_foreground);
    padding: 1rem;
    width: 65%;
    margin-inline: 1rem;
}

/* TOPICS + RELATED */
#articlePageRightBox {
    background: var(--color_foreground);
    padding: 1rem;
    width: 15%;
    display: flex;
    flex-direction: column;
}

#articlePageLeftBox > #articlePageLeftBoxTitle {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    background: var(--color_background);
}

#articlePageLeftBox > #articlePageLeftBoxInput {
    height: 100%;
}

#articlePageLeftBox > #articlePageLeftBoxInput > textarea {
    height: 100%;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border: none;
    box-sizing: border-box;
    background: var(--color_background);
    color: var(--color_text);
    font-size: 1.2rem;
    resize: none;
}

#articlePageMiddleBox > #articlePageMiddleBoxView {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#articlePageMiddleBox > #articlePageMiddleBoxView > #articlePageMiddleBoxArticleName {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    background: var(--color_background);
}

#articlePageMiddleBox > #articlePageMiddleBoxView > #articlePageMiddleBoxArticleContent {
    background: var(--color_background);
}

#articlePageMiddleBox > #articlePageMiddleBoxView > #articlePageMiddleBoxPagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

#articlePageMiddleBox > #articlePageMiddleBoxView > #articlePageMiddleBoxPagination > button {
    height: 1.8rem;
    width: 2rem;
    margin-inline: 0.3rem;
    font-size: 1rem;
    color: var(--color_text);
    background: var(--color_foreground);
}

#articlePageMiddleBox > #articlePageMiddleBoxView > #articlePageMiddleBoxPagination > #articlePageMiddleBoxPaginationSelected {
    background: var(--color_light_foreground);
    /* background: rgb(141, 33, 33); */

}

#articlePageRightBox > div {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    background: var(--color_background);
}

#articlePageRightBox > #articlePageRightBoxTopics {
    /* setting a bogus color as we lack any other sane css for this element atm. */
    border: dotted 0.1rem rgb(255, 40, 40);
}

#articlePageRightBox > #articlePageRightBoxRelatedArticles {
    /* setting a bogus color as we lack any other sane css for this element atm. */
    border: dotted 0.1rem rgb(233, 255, 32);
}
