:root {
    --color_getOrange: #F44E01;
    --color_background: #11191F;
    --color_foreground: #141E26;
    --color_light_foreground: #19232B;
    --color_links: #1095C1;
    --color_text: #BBC6CE;
    --color_unfocused: #3C4651;
    background: var(--color_background);
    color: var(--color_text);
}

a {
    color: var(--color_links);
}

h1, h2, h3, h4, h5 {
    background: var(--color_background);
}

.alternating details:nth-child(odd) {
    background: var(--color_light_foreground);
}

.alternating div:nth-child(odd) {
    background: var(--color_light_foreground);
}

.hflex {
    display: flex;
}
.vflex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.center {
    justify-content: center;
}

.container {
    padding: 10px;
    margin: 10px;
    background: var(--color_foreground);
}

.inset {
    padding: 10px;
    background: var(--color_background);
}

.notes {
    background: palegoldenrod;
}