:root {
    --color_getOrange: #F44E01;
    --color_background: #11191F;
    --color_foreground: #141E26;
    --color_light_foreground: #19232B;
    --color_links: #1095C1;
    --color_text: #BBC6CE;
    --color_unfocused: #3C4651;
    background: var(--color_background);
    color: var(--color_text);
}
a {
    color: var(--color_links);
}

.horizontal {
    display: flex;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.center {
    justify-content: center;
}

.container {
    margin: 10px;
    background: var(--color_foreground);
}

.notes {
    background: palegoldenrod;
}