.container-1 {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 80%;
    margin: 0 auto;
    background-color: var(--background);
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 50%;
    width: 100%;
    color: var(--white);
}

.header-2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
}

.navbar-1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
    width: 100%;
}

.navbar-2 {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px;
}

/* .nav-item-1 {
} */

.nav-item-2 {
    display: flex;
    gap: 1rem;
}

/* .nav-buttons {
}

.searchbar {
} */